Source: ros-indigo-hansagv-description
Section: misc
Priority: extra
Maintainer: Cong Liu <liucong.cdhaw@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-hansagv-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The visual model of X-1 plus
